#projects-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5rem;
}

#tags-container {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.7rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

button {
  all: unset;
}

#tags-container button {
  all: unset;
  padding: 0.5rem;

  background-color: #f0f0f0;
  cursor: pointer;
}

#tags-container button:hover {
  background-color: #fffea6;
}

#tags-container button:focus {
  background-color: #fffb00;
}
.project-container {
  padding: 0.5rem;
  min-height: 300px;
}

.desc-container {
  display: flex;
  font-size: 0.8rem;
  gap: 0.5rem;
}
